.section {
  width: 100%;
  min-height: 100vh;
  width: var(--container-width);
  margin-inline: auto;
}

.section:first-of-type {
  min-height: unset;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.titleWrapper {
  padding-top: 39.5rem;
  padding-bottom: 30.5rem;
  grid-column: span 5;
}

.pageTitle {
  max-width: 82rem;
}

.pageSubtitle {
  font-size: 3.2rem;
  margin-top: 2.5rem;
}

.imageWrapper {
  position: relative;
}

.imageWrapper img {
  position: absolute;
  top: 60%;
  transform: translateY(-65%);
  left: 0;
}
.imageWrapper .dot:hover {
  pointer-events: all;
}

/* About Section */

.sectionAbout h2 span {
  font-size: 7.6rem;
  color: var(--primary-color-purple);
}

.sectionAboutMain {
  position: relative;
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.sectionAboutContent {
  grid-column: span 4/9;
}

.sectionAboutContent p {
  margin-top: 2.5rem;
  font-size: 2rem;
}

.imageWrapperNarrow {
  position: relative;
}

.imageWrapperNarrow {
  position: absolute;
  transform: translateX(-65%);
}

.imageWrapperLine {
  margin-top: 2.5rem;
}
