@import './mixins.scss';

.aboutSection {
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 8rem;
  width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  display: block;
  perspective: 1000rem;

  @include mq_min780 {
    display: grid;
    column-gap: 10rem;
    row-gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 16rem;
  }

  p {
    margin-top: 2.5rem;
    font-size: 2rem;
  }

  a {
    grid-column: 2/3;
    margin-left: auto;
    animation: slide-left 1.25s cubic-bezier(0.65, 0, 0.35, 1) both;
    animation-delay: 0.6s;
    display: block;
    margin-top: 2rem;

    @include mq_min780 {
      margin-top: unset;
    }
  }
}

.aboutSectionGraphics {
  max-width: 44.5rem;
  overflow: hidden;
  position: relative;
  display: grid;
  place-content: center;
  animation: appear 0.5s cubic-bezier(0.65, 0, 0.35, 1) both;
  transform-style: preserve-3d;
  perspective: 25rem;

  > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }

  img {
    z-index: 10;
    position: relative;
    animation: appear 0.8s cubic-bezier(0.65, 0, 0.35, 1) both;
    animation-delay: 0.2s;
    pointer-events: none;
    scale: 0.85;

    @include mq_min780 {
      scale: 1;
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.aboutSectionText {
  max-width: unset;
  margin-left: unset;
  opacity: 0;
  animation: slide-left 1.25s cubic-bezier(0.65, 0, 0.35, 1) both;
  animation-delay: 0.5s;
  text-align: justify;
  margin-top: 4rem;

  @include mq_min780 {
    margin-top: unset;
    margin-left: auto;
    max-width: 56rem;
  }
}

@keyframes slide-left {
  from {
    transform: translateX(10rem);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
