/* About Section */
.sectionAbout {
  padding-top: 8rem;
  padding-bottom: 8rem;
  width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
}

.sectionAbout h2 span {
  font-size: 7.6rem;
  color: var(--primary-color-purple);
}

.sectionAboutNoVis h2 {
  opacity: 0;
}

.sectionAboutNoVis .imageWrapperNarrow img {
  opacity: 0;
  transform: translateX(-10rem);
}

.sectionAboutVis h2 {
  opacity: 1;
  transition: opacity 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}

.sectionAboutVis .imageWrapperNarrow img {
  opacity: 1;
  transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
  transition-delay: 0.15s;
  transform: translateX(0);
}

.sectionAboutMain {
  position: relative;
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.sectionAboutContent {
  grid-column: span 4/9;
  opacity: 0;
  transform: translateX(5rem);
}

.sectionAboutVis .sectionAboutContent {
  opacity: 1;
  transition: all 0.5s ease;
  transition-delay: 0.4s;
  transform: translateX(0);
}

.sectionAboutContent a {
  margin-top: 8rem;
}

.sectionAboutContent p {
  margin-top: 2.5rem;
  font-size: 2rem;
}

.imageWrapperNarrow {
  position: relative;
}

.imageWrapperNarrow {
  position: absolute;
  transform: translateX(-65%);
}

.imageWrapperLine {
  margin-top: 2.5rem;
}
