.contactPageSection {
  width: 100%;
  padding-top: 28rem;
  padding-bottom: 24rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.contactPageSectionInner {
  width: 76rem;
  height: 16rem;
  display: grid;
  place-content: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  > div {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
  }
}

.contactItems {
  display: flex;
  list-style: none;
  gap: 4rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4rem;
}

.contactItemLink {
  display: block;
  width: 6rem;
  height: 5rem;
  border-radius: 0.3rem;
  text-indent: -999rem;
  position: relative;
  display: grid;
  place-content: center;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  background-color: #333;
}

.contactItemLink {
  &.linkedin {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg fill='none' viewBox='0 0 17 19' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m15.786 1.1875h-14.575c-0.66786 0-1.2105 0.53809-1.2105 1.1986v14.228c0 0.6605 0.54263 1.1986 1.2105 1.1986h14.575c0.6679 0 1.2143-0.5381 1.2143-1.1986v-14.228c0-0.66054-0.5464-1.1986-1.2143-1.1986zm-10.648 14.25h-2.5196v-7.934h2.5234v7.934h-0.00379zm-1.2598-9.0176c-0.80825 0-1.4609-0.64199-1.4609-1.4287s0.65268-1.4287 1.4609-1.4287c0.80447 0 1.4609 0.64199 1.4609 1.4287 0 0.79043-0.65268 1.4287-1.4609 1.4287zm10.705 9.0176h-2.5196v-3.8594c0-0.9203-0.019-2.1041-1.3092-2.1041-1.3129 0-1.514 1.002-1.514 2.0373v3.9262h-2.5196v-7.934h2.4172v1.0836h0.03415c0.33772-0.62344 1.1612-1.2803 2.3868-1.2803 2.55 0 3.0243 1.6439 3.0243 3.7815v4.3492z' fill='%23D9D9D9'/%3E%3C/svg%3E%0A");
  }

  &.xcorp {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg fill='%23D9D9D9' enable-background='new 0 0 24 24' version='1.1' viewBox='0 0 24 24' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m14.095 10.316 8.1909-9.3165h-1.9407l-7.1154 8.0877-5.6789-8.0877h-6.5514l8.5895 12.231-8.5895 9.7689h1.9407l7.5094-8.5429 5.9985 8.5429h6.5514l-8.9045-12.684zm-2.659 3.022-0.87162-1.2187-6.9243-9.6882h2.9813l5.5898 7.8216 0.86795 1.2187 7.2651 10.166h-2.9813l-5.9269-8.2997z'/%3E%3C/svg%3E");
  }

  &.email {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg fill='none' viewBox='0 0 23 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m19.167 0h-15.333c-2.1083 0-3.8333 1.8-3.8333 4v10c0 2.2 1.725 4 3.8333 4h15.333c2.1083 0 3.8333-1.8 3.8333-4v-10c0-2.2-1.725-4-3.8333-4zm1.5333 5.8-7.5708 5.3c-0.4792 0.3-1.0542 0.5-1.6292 0.5s-1.15-0.2-1.6292-0.5l-7.5708-5.3c-0.38333-0.3-0.47917-0.9-0.19167-1.4 0.2875-0.4 0.8625-0.5 1.3417-0.2l7.5708 5.3c0.2875 0.2 0.7667 0.2 1.0542 0l7.5708-5.3c0.4792-0.3 1.0542-0.2 1.3417 0.3 0.1917 0.4 0.0958 1-0.2875 1.3z' fill='%23D9D9D9'/%3E%3C/svg%3E%0A");
  }

  &.github {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg fill='none' viewBox='0 0 25 25' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m15.748 24.947c8.342-0.241 9.163-1.997 9.163-11.966 0-11-1-12-12-12-11 0-12 1-12 12 0 9.995 0.826 11.734 9.228 11.968 0.073-0.091 0.1-0.205 0.1-0.321 0-0.25-0.01-2.816-0.015-3.699-3.037 0.639-3.678-1.419-3.678-1.419-0.497-1.222-1.213-1.548-1.213-1.548-0.991-0.656 0.075-0.643 0.075-0.643 1.096 0.075 1.673 1.091 1.673 1.091 0.974 1.617 2.556 1.15 3.178 0.879 0.099-0.683 0.381-1.15 0.693-1.414-2.425-0.267-4.974-1.175-4.974-5.23 0-1.155 0.426-2.099 1.124-2.839-0.113-0.268-0.487-1.344 0.107-2.8 0 0 0.917-0.285 3.003 1.084 0.871-0.235 1.805-0.352 2.734-0.356 0.927 4e-3 1.861 0.121 2.734 0.356 2.085-1.369 3-1.084 3-1.084 0.596 1.456 0.221 2.532 0.108 2.8 0.7 0.74002 1.123 1.684 1.123 2.839 0 4.065-2.553 4.96-4.986 5.221 0.392 0.327 0.741 0.973 0.741 1.96 0 0.946-6e-3 2.619-0.01 3.728-2e-3 0.549-3e-3 0.959-3e-3 1.074 0 0.109 0.029 0.224 0.095 0.319z' clip-rule='evenodd' fill='%23D9D9D9' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
  }
}

.notFound {
  margin-bottom: 1rem;

  & ~ a {
    margin-left: auto;
    margin-right: auto;
  }
}
