@import './mixins.scss';

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-items: center;
  width: var(--container-width);
  margin-inline: auto;
  min-height: var(--nav-height);
}

.navLogo {
  font-size: 3.2rem;

  span {
    color: var(--primary-color-purple);
  }
}

.navMenu {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  @include mq_min780 {
    position: relative;
  }
}

.navTrigger {
  all: unset;
  padding: 2rem;
  font-weight: var(--link-weight);
}

.navList {
  counter-reset: my-counter;
  position: absolute;
  top: 100%;
  left: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: -1rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 9;

  @include mq_min780 {
    transition: opacity 1.25s ease;
  }

  li {
    opacity: 0;
    transform: translateX(30%);
    transition: all 0.2s ease;
    transition-delay: calc(counter(my-counter) * 200ms);
  }

  li:first-of-type {
    transition-delay: 25ms;
  }

  li:nth-of-type(2) {
    transition-delay: 125ms;
  }

  li:last-of-type {
    transition-delay: 225ms;
  }

  a {
    display: inline-block;
    padding-block: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: var(--link-weight);
  }

  a::after {
    content: '\2022';
    position: relative;
    right: -0.1rem;
    top: 0.2rem;
    color: var(--primary-color-purple);
    font-size: 2.25rem;
    opacity: 0;
    transition: opacity 0.25s ease;
  }

  a:hover::after {
    opacity: 1;
  }
}

.navActiveLink a::after {
  opacity: 1;
}

.navList:hover li,
.navVisible + .navList li {
  pointer-events: all;
  opacity: 1;
  transform: translateX(0);
}

.navList:hover,
.navVisible + .navList {
  opacity: 1;
}

.navVisible + .navList {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  margin-top: 8rem;
  background-color: var(--primary-color-bg);
  padding: 2rem;
  gap: 5rem;
  z-index: 999;
  overflow: hidden;

  li:first-of-type {
    margin-top: auto;
  }

  li:last-of-type {
    margin-bottom: auto;
  }

  li {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  @include mq_min780 {
    position: absolute;
    margin-top: -1rem;
    right: unset;
    width: unset;
    top: 100%;
    left: 2rem;
    bottom: unset;
    padding: unset;
    gap: unset;

    li:first-of-type {
      margin-top: unset;
    }

    li:last-of-type {
      margin-bottom: unset;
    }

    li {
      margin-left: unset;
      margin-right: unset;
    }
  }
}

.navThemeToggle  {
  all: unset;
  display: block;
  padding: 1.25rem 2.5rem;
  text-indent: -999rem;
  background-position: 50% 55%;
  background-size: 2.25rem;
  background-repeat: no-repeat;

}

.navThemeToggleLight {
  background-size: 1.75rem;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg fill='%23373737' enable-background='new 0 0 32 32' version='1.1' viewBox='0 0 32 32' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m16.13 31.5c7.47 0 13.93-5.32 15.34-12.65 0.12006-0.58997-0.12994-1.19-0.62994-1.53-0.5-0.33002-1.15-0.34003-1.66-0.01001-1.69 1.1-3.66 1.68-5.69 1.68-5.78 0-10.49-4.7-10.49-10.48 0-2.03 0.59003-4 1.69-5.69 0.33002-0.51001 0.32001-1.16-0.01001-1.66-0.33997-0.5-0.94-0.75-1.53-0.63-7.33 1.41-12.65 7.87-12.65 15.34 0 8.62 7.01 15.63 15.63 15.63z'/%3E%3C/svg%3E%0A");
}

.navThemeToggleDark {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg fill='%23BFC3BA' viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='256' height='256' fill='none'/%3E%3Ccircle cx='128' cy='128' r='68'/%3E%3Cpath d='m128 44a8 8 0 0 0 8-8v-20a8 8 0 0 0-16 0v20a8 8 0 0 0 8 8z'/%3E%3Cpath d='M57.3,68.6a8.1,8.1,0,0,0,11.3,0,8,8,0,0,0,0-11.3L54.5,43.1A8.1,8.1,0,1,0,43.1,54.5Z'/%3E%3Cpath d='m44 128a8 8 0 0 0-8-8h-20a8 8 0 0 0 0 16h20a8 8 0 0 0 8-8z'/%3E%3Cpath d='m57.3 187.4-14.2 14.1a8.1 8.1 0 0 0 0 11.4 8.5 8.5 0 0 0 5.7 2.3 8.3 8.3 0 0 0 5.7-2.3l14.1-14.2a8 8 0 0 0-11.3-11.3z'/%3E%3Cpath d='m128 212a8 8 0 0 0-8 8v20a8 8 0 0 0 16 0v-20a8 8 0 0 0-8-8z'/%3E%3Cpath d='m198.7 187.4a8 8 0 0 0-11.3 11.3l14.1 14.2a8.3 8.3 0 0 0 5.7 2.3 8.5 8.5 0 0 0 5.7-2.3 8.1 8.1 0 0 0 0-11.4z'/%3E%3Cpath d='m240 120h-20a8 8 0 0 0 0 16h20a8 8 0 0 0 0-16z'/%3E%3Cpath d='m193.1 70.9a7.8 7.8 0 0 0 5.6-2.3l14.2-14.1a8.1 8.1 0 0 0-11.4-11.4l-14.1 14.2a8 8 0 0 0 0 11.3 7.8 7.8 0 0 0 5.7 2.3z'/%3E%3C/svg%3E");
}
