@import './mixins.scss';

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-items: center;
  width: var(--container-width);
  margin-inline: auto;
  min-height: var(--nav-height);
}

.navLogo {
  font-size: 3.2rem;

  span {
    color: var(--primary-color-purple);
  }
}

.navMenu {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  @include mq_min780 {
    position: relative;
  }
}

.navTrigger {
  all: unset;
  padding: 2rem;
  font-weight: var(--link-weight);
}

.navList {
  counter-reset: my-counter;
  position: absolute;
  top: 100%;
  left: 4.5rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: -1rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 9;

  @include mq_min780 {
    transition: opacity 1.25s ease;
  }

  li {
    opacity: 0;
    transform: translateX(30%);
    transition: all 0.2s ease;
    transition-delay: calc(counter(my-counter) * 200ms);
  }

  li:first-of-type {
    transition-delay: 25ms;
  }

  li:nth-of-type(2) {
    transition-delay: 125ms;
  }

  li:last-of-type {
    transition-delay: 225ms;
  }

  a {
    display: inline-block;
    padding-block: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: var(--link-weight);
  }

  a::after {
    content: '\2022';
    position: relative;
    right: -0.1rem;
    top: 0.2rem;
    color: var(--primary-color-purple);
    font-size: 2.25rem;
    opacity: 0;
    transition: opacity 0.25s ease;
  }

  a:hover::after {
    opacity: 1;
  }
}

.navActiveLink a::after {
  opacity: 1;
}

.navList:hover li,
.navVisible + .navList li {
  pointer-events: all;
  opacity: 1;
  transform: translateX(0);
}

.navList:hover,
.navVisible + .navList {
  opacity: 1;
}

.navVisible + .navList {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  margin-top: 8rem;
  background-color: var(--primary-color-bg);
  padding: 2rem;
  gap: 5rem;
  z-index: 999;
  overflow: hidden;

  li:first-of-type {
    margin-top: auto;
  }

  li:last-of-type {
    margin-bottom: auto;
  }

  li {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  @include mq_min780 {
    position: absolute;
    margin-top: -1rem;
    right: unset;
    width: unset;
    top: 100%;
    left: 4.5rem;
    bottom: unset;
    padding: unset;
    gap: unset;

    li:first-of-type {
      margin-top: unset;
    }

    li:last-of-type {
      margin-bottom: unset;
    }

    li {
      margin-left: unset;
      margin-right: unset;
    }
  }
}

.navThemeToggle {
  all: unset;
  display: block;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  margin-top: 0.4rem;

  svg {
    width: 100%;
    height: 100%;
  }
}
