.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-items: center;
  width: var(--container-width);
  margin-inline: auto;
  min-height: var(--nav-height);
}

.nav__logo {
  font-size: 3.2rem;
}
.nav__menu {
  font-size: 1.8rem;
  position: relative;
}

.nav__logo span {
  color: var(--primary-color-purple);
}

.nav__list {
  counter-reset: my-counter;
  position: absolute;
  top: 100%;
  left: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: -1rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.25s ease;
}

.nav__trigger {
  all: unset;
  cursor: pointer;
  padding: 2rem;
}

.nav__list li {
  opacity: 0;
  transform: translateX(30%);
  transition: all 0.2s ease;
}

.nav__list li:first-of-type {
  transition-delay: 25ms;
}

.nav__list li:nth-of-type(2) {
  transition-delay: 125ms;
}

.nav__list li:last-of-type {
  transition-delay: 225ms;
}

.nav__list:hover li,
.nav__trigger:hover + .nav__list li {
  pointer-events: all;
  opacity: 1;
  transform: translateX(0);
}

.nav__list:hover,
.nav__trigger:hover + .nav__list {
  opacity: 1;
}

.nav__list li {
  transition-delay: calc(counter(my-counter) * 200ms);
}

.nav__list a {
  display: inline-block;
  padding-block: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.nav__list a::after {
  content: '\2022';
  position: relative;
  right: 0;
  top: 0;
  color: var(--primary-color-purple);
  font-size: 2.25rem;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.nav__list a:hover::after {
  opacity: 1;
}
