/* Projects Section */
.sectionProjects {
  padding-top: 8rem;
  padding-bottom: 8rem;
  width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
}

.sectionProjectsNoVis h2 {
  opacity: 0;
}

.sectionProjectsVis h2 {
  opacity: 1;
  transition: opacity 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}

.sectionProjectsNoVis article {
  transform: translate(15rem, 10rem);
  opacity: 0;
}

.sectionProjectsVis article {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 0.35s cubic-bezier(0.65, 0, 0.35, 1);
}

.sectionProjectsVis article:first-of-type {
  transition-delay: 0.1s;
}
.sectionProjectsVis article:nth-of-type(2) {
  transition-delay: 0.2s;
}
.sectionProjectsVis article:last-of-type {
  transition-delay: 0.3s;
}

.sectionProjects h2 span {
  font-size: 7.6rem;
  color: var(--primary-color-purple);
}

.sectionProjectsCards {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, auto));
  gap: 13rem;
}

.sectionProjectsFooter {
  margin-top: 20rem;
  display: flex;
  align-items: flex-start;
}

.sectionProjectsFooter img {
  transform: translateX(-25%);
}

.sectionProjectsFooter a {
  margin-left: auto;
}
