.projectsSection {
  padding-top: 16rem;
  padding-bottom: 8rem;
  width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
}

.projectsGridx {
  margin-top: 4.6rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, auto));
  gap: 10rem;
}

.projectFilterWrapper {
  position: relative;
  width: fit-content;
}

.projectFilterWrapper::after {
  content: '';
  position: absolute;
  right: 1.6rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  width: 2rem;
  height: 2rem;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7559 8.92251L13.5775 7.74418L10 11.3217L6.42253 7.74418L5.24419 8.92251L10 13.6783L14.7559 8.92251Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}

.projectFilter {
  all: unset;
  background-color: #333;
  color: var(--primary-color-light);
  font-size: 1.6rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  min-width: 15rem;
  border-radius: 0.3rem;
  font-weight: 400;
  z-index: 1;
}
