.wrapper {
  padding-top: 12rem;
  padding-bottom: 8rem;
  width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10rem;
}

.wrapper h1 {
  grid-column: 1/3;
  font-size: 3.9rem;
}

.textWrapper {
  animation: appear 0.5s cubic-bezier(0.65, 0, 0.35, 1) both;
}

.projectTechList {
  grid-column: 1/3;
  margin-top: 3.2rem;
}

.projectBody {
  grid-column: 1/2;
  margin-top: 1.6rem;
  font-size: 1.8rem;
}

.projectBody p + p {
  margin-top: 1.6rem;
}

.projectFooter {
  margin-top: 10rem;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: inherit;
  column-gap: inherit;
}

.projectFooter a {
  grid-column: 2/3;
  display: inline-block;
  margin-left: auto;
  animation: appear 0.5s cubic-bezier(0.65, 0, 0.35, 1) both;
}

.projectFooterDots {
  grid-column: 1/2;
  animation: slide-right 1.25s cubic-bezier(0.65, 0, 0.35, 1) both;
  animation-delay: 0.1s;
}

.projectFooterDots > div {
  transform: translateX(-35rem);
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-10rem);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
